<div class="jumbotrone">
  <h1 style="text-align: center; padding: 23px;">Name : Manmeet Kaur </h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <button class="button" routerLink="/home">Home</button>
    </li>
    <li class="nav-item">
      <button class="button" routerLink="/students">Student</button>
    </li>
  </ul>
</nav>


<router-outlet></router-outlet>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted"> Student No: 2000534158 </span>
  </div>
</footer>
